body {
    font-family: sans-serif;
    margin: 0;
}

header {
    display: flex;
    height: 70px;
    justify-content: space-between;
    background-color: rgb(137, 141, 141);
    align-items: center;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #000;
}

nav a {
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover {
    color: #fff;
}

.form {
    background-image: url(/img/20240621194433_1.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    font-family: monospace;
}

form {
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, 0,4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}

h2 {
    color: #000;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

input {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

#button {
    background-color: #313131;
    color: #fff;
    padding: 20px;
}

#button:hover {
    cursor: pointer;
}